<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http：//mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tk.mybatis.simple.mapper.PrivilegeMapper">

    <resultMap id="privilegeMap" type="tk.mybatis.simple.model.SysPrivilege">
        <id property="id" column="id"/>
        <result property="privilegeName" column="privilege_name"/>
        <result property="privilegeUrl" column="privilege_url"/>
    </resultMap>
    <select id="selectPrivilegeByRoleId" resultType="tk.mybatis.simple.model.SysPrivilege">
        select p.*
        from sys_privilege p
                 join sys_role_privilege srp on srp.privilege_id = p.id
        where srp.role_id = #{id}
    </select>
</mapper>